.App {
  text-align: center;
  width: 100vh;
  height: 100vh;

  background-image: linear-gradient(to bottom right, #222222, #000000);
}

.column{
  height: 100%;
}

.outside{
    width: 20%;
    height: 100%;
}

.middle{
    width: 60%;
}

.middle button{
}

.row{
  width: 100%;
  align-content: center;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.keypad{
  width: flex;
  height: flex;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

.keypad-button{
  width: 25%;
  height: 50px;
  background-image: linear-gradient(to top right, white, #eeeeee);
  background-color: white;
  border-style: none;
}

.result{
  color: brown;
  margin-top: 30%;
  background-image: linear-gradient(to bottom right, beige, white);
  background-color: beige;
  height: 10%;
  width: flex;
  border-radius: 10px 10px 0 0;
  padding-top: 5%;
  padding-right: 15%;

  text-align: right;

  font-family: "arial bold", monospace;
  font-size: x-large;
}